<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/css/style.css' />
  <title>Intangicart! Shop for Nothing!</title>
</head>
<body>
  <nav>
      <div id="headerBar">
        <p>options</p>
        <h1>Intangicart logo</h1>
        <p>searchbar</p>
        <p>Log in button</p>
        <p>Log out button</p>
        <p>sign up button</p>
        <li><a href="/shop">shop shortcut (bypss oauth)</a></li>
        <li><a href="/">landing shortcut (bypss logout)</a></li>
        <li><a href="/user">user shortcut (bypss oauth (may cause error when not logged in))</a></li>

    </div>  
  </nav>
  <main>