<%- include('./partials/header') %>
    <!-- <h1>INTANGICART</h1>
    <P>YOUR ROUTING WORKS</P>
    <li>
        <li><a href="/shop">shop shortcut (bypss oauth)</a></li>
        <%// if (user2) { %>
            <a href="/logout"> <i>test</i> Log Out</a>
        <%// } else { %>
            <a href="/auth/google"> <i>test</i> Login with Google</a>
        <%// } %>
    </li> -->
    <div id="topSectionLND">
        <h1>Your one stop shop for all things with no value unless you trade them</h1>
        <img src="/imgs/sitemedia/chup.png" alt="chup">
    </div>
    <div id="shopLND">
        <h1>Start Shopping</h1>
        <div id="shopGridLND">
            <!-- for 6 random items in item collection retrieve name, image, and price as well as a link -->
            <div class="shopCardLND">
                <img src="/imgs/sitemedia/chup.png">
                <h2>Name</h2>
                <p>$100</p>
            </div>
            <div class="shopCardLND">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, ea cumque? Itaque ullam suscipit ratione dignissimos dolor ab maiores quidem illum eligendi, eum, aperiam asperiores obcaecati assumenda culpa numquam sequi.</div>
            <div class="shopCardLND">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel rerum saepe cumque aut, aspernatur quasi aperiam ratione consectetur dolores eos autem? Illum nobis suscipit esse est, recusandae numquam necessitatibus quaerat.</div>
            <div class="shopCardLND">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt laudantium natus deleniti? Placeat fugit expedita quam numquam totam rem sed impedit, eaque voluptatem ab nostrum optio unde vitae voluptatibus explicabo?</div>
            <div class="shopCardLND">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui voluptatum aperiam reprehenderit odio placeat, perspiciatis quae consequuntur suscipit ab ea illo incidunt nulla sit rerum commodi totam. Blanditiis, omnis totam!</div>
            <div class="shopCardLND">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam labore in maxime iure quisquam praesentium eos nihil voluptatum dolor velit, libero pariatur ipsa illum cupiditate magnam quis perferendis amet ut.</div>
        </div>
    </div>
    
<%- include('./partials/footer') %>