<%- include('./partials/header') %>
    <h1>INTANGICART</h1>
    <P>YOUR ROUTING WORKS</P>
    <li>
        <li><a href="/shop">shop shortcut (bypss oauth)</a></li>
        <!-- new html below -->
        <% if (user2) { %>
            <a href="/logout"> <i>test</i> Log Out</a>
        <% } else { %>
            <a href="/auth/google"> <i>test</i> Login with Google</a>
        <% } %>
        </li>
    
<%- include('./partials/footer') %>