<%- include('./partials/header') %>
    <h1>INTANGICART</h1>
    <P>YOUR ROUTING WORKS</P>
    <li>
        <li><a href="/shop">shop shortcut (bypss oauth)</a></li>
        <!-- new html below -->
        <% if (user2) { %>
            <a href="/logout"> <i>test</i> Log Out</a>
        <% } else { %>
            <a href="/auth/google"> <i>test</i> Login with Google</a>
        <% } %>
    </li>
    <div class ="topSection">
        <h1>Your one stop show for all things with no value unless you trade them</h1>
        <img src="/imgs/sitemedia/chup.png" alt="chup">
    </div>
    <div class ="landingShop">
        <h3>Start Shopping</h3>
        <div class="landingShopGrid">
            
        </div>
    </div>
    
<%- include('./partials/footer') %>