/* root: define all fonts and colors here*/
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
:root{
    --primary-color :           #51238b;
    --secondary-color:          #fbfbf7;
    --white:                    #ffffff;
}

/*
//////////////////////////////////////////////////////
SECTION HEADER/FOOTER SELECTORS
//////////////////////////////////////////////////////
*/
body{
    max-width: 1440px;
    margin:auto;
}

#intangicart{
    font-family: 'Zen Dots', cursive;
    font-size: 24pt;
    margin: 0rem 0rem 0rem 1rem
}

#headerBar{
    display:flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    align-items: center;
    background-color: var(--primary-color);
    color:var(--white);
}

#headerIcon{
    font-size: 36pt;
    margin: 0rem 0rem 0rem 1rem;
}

#searchbar{
    align-self: center;
    margin: 0rem 0rem 0rem 1rem;
    padding: 5px;
    border-radius: 20px;
    width:200px;
    height:1.5em;
    background-color: var(--white);
    color: black;
    display:flex;
    flex-direction: row;
    align-items: center;
}

#footer{
    display:flex;
    flex-direction:row;
}

/*!SECTION
//////////////////////////////////////////////////////
SECTION SHOP SELECTORS
//////////////////////////////////////////////////////
*/

/*ANCHOR PURCHASE OVERLAY SELECTORS*/
.popover{
    position:absolute;
    top:0;
    left:0;
    width: 100vw;
    height:100vw;
    background-color: rgba(0, 0, 0, 20%);
    display:flex;
    align-items: center;
    justify-content: center;
}

.popover > div{
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    max-width: 60%;
}
/*!SECTION
//////////////////////////////////////////////////////
SECTION USER/COLLECTION SELECTORS
//////////////////////////////////////////////////////
*/

/*ANCHOR EDIT COLLECTION OVERLAY SELECTORS*/

/*!SECTION
//////////////////////////////////////////////////////
SECTION GENERAL SELECTORS
//////////////////////////////////////////////////////
*/