<%- include('../partials/header') %>
			<h1>Welcome!</h1>
		
		</nav>
		<main>
			<form action="/landing" method="POST">
				<p>
					<input type="text" name="name" placeholder="Title" />
				</p>
				<p>
					<textarea type="text" name="price" placeholder="price"></textarea>
				</p>
				<p>
					<select name="product">
						<option value="test">placeholder</option>
						<% Product.forEach ( product => { %>
						<option value="<%= product._id %>"><%= product.name %></option>
						<% }) %>
					</select>
				</p>
				<input type="submit" value="Create Product" />
			</form>
            <%- include('../partials/footer') %>