<div>
    <div>
        <p>hello I'm a card</p>
        <form>
            <label for="iname">Item Name:</label>
            <input type="text">
            <label for="iprice">Sell Price:</label>
            <input type="text">
            <button type="submit">submit</button>
        </form>
    </div>
</div>