<div>
    <div>
        <p>Create a new item below!</p>
        <form action="/user/create" method="POST">
            <label>Item Name:</label>
            <input class="inputField" id="createItemInputs" type="text" name="name" placeholder="Name the new item" >
            <label>Sell Price:</label>
            <input class="inputField" id="createItemInputs" type="text" name="price" placeholder="Set the price" >
            <label">Image:</label>
            <input class="inputField" id="createItemInputs" type="text" name="image" placeholder="insert URL" >
            <button class="submitButton" id="createNewItemButton" type="submit"  value="Create Product">submit</button>
        </form>
    </div>
</div>