<!--This is a partial view that sits over top of the shop.
It allows the user to purchase the item from another user-->
<div class="popover">
    <div>
        <p>hello I'm a purchase card</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus consequuntur placeat laborum animi eos exercitationem iure quo, consectetur explicabo sapiente odit, unde sunt esse quas ullam quaerat, eum facere. Nostrum.</p>
        <button id="popoverCancel"></button>
    </div>
</div>