<!--This is a partial view that sits over top of the shop.
It allows the user to purchase the item from another user-->
<div class="popover">
    <div>
        hello I'm a purchase card
    </div>
</div>