<!--This is a partial view that sits over top of the shop.
It allows the user to purchase the item from another user-->
<div class="popover">
    <div>
        <p>Purchase an Item</p>
        <h2> <%= Products.name%> </h2>
        <h3> <%= Products.price%></h3>
        <form action="/<%= Products._id%>?_method=PUT" method="POST">
    
            <input type="submit" value="Purchase" />
        </form>
     <button id="popoverCancel">Cancel</button>
    </div>
</div>